#main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#contact{
    width: 50%;
    height: 920px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
#contact .img{
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 140px;
}
#contact .img img,#contact .logo img{
    max-width: 100%;
    max-height: 100%;
}
#contact .logo{
    width: 600px;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 158px;
}
#contact p{
    width: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    color: #666;
    margin-top:25px;
}
#contact p i{
    color: #579ED4;
    margin-right: 10px;
}
#map{
    width: 50%;
    height: 920px;
}