#main #banner {
    width: 100%;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

#main #banner .swiper-container {
    width: 100%;
    height: 100%;
}

#main #banner:hover .swiper-button-prev,
#main #banner:hover .swiper-button-next {
    opacity: 1;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    left: 19.27%;
    width: 40px;
    height: 48px;
    background: rgba(52, 81, 161, 0.2);
    color: #fff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    right: 19.27%;
    width: 40px;
    height: 48px;
    background: rgba(52, 81, 161, 0.2);
    color: #fff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.swiper-pagination-bullet {
    width: 24px;
    height: 4px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 0;
}

.swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    width: auto;
    left: 40.6%;
}

#nav {
    width: 100%;
    height: 60px;
    background: #fff;
}

#nav .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#reco,
#video,
#audio,
#nancy{
    width: 100%;
    margin-top: 60px;
}

#reco .container,
#video .container,
#audio .container,
#nancy .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#main #nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#main #nav .container .title .desc {
    margin-left: 0;
}

.container .title {
    width: 100%;
    height: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container .title h1 {
    font-size: 24px;
    color: #2b262c;
    font-weight: 700;
    padding-left: 17px;
    border-left: 4px solid #3f5599;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container .title .desc {
    width: 910px;
    margin-left: 84px;
    font-size: 14px;
    color: #999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container .title .desc span {
    font-size: 14px;
    color: #2b262c;
    margin-right: 44px;
    cursor: pointer;
}

.container .title .desc span:hover {
    color: #666;
}

.container .title a {
    font-size: 14px;
    color: #666;
}

.container .title a:hover ,.container .title a.active{
    color: #569ED4;
}

#reco .container ul,
#video .container ul,
#audio .container ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 30px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#reco .container ul li,
#video .container ul li,
#audio .container ul li {
    width: 280px;
    height: 280px;
    background: #fff;
    margin-right: 25px;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-top: 20px;
}

#reco .container ul li:nth-child(4n),
#video .container ul li:nth-child(4n),
#audio .container ul li:nth-child(4n) {
    margin-right: 0;
}

#reco .container ul li:hover,
#video .container ul li:hover,
#audio .container ul li:hover {
    -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
}

#reco .container ul li:last-child,
#video .container ul li:last-child,
#audio .container ul li:last-child {
    margin-right: 0;
}

#reco .container ul li a,
#video .container ul li a,
#audio .container ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#reco .container ul li a .img,
#video .container ul li a .img,
#audio .container ul li a .img {
    width: 100%;
    height: 158px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#reco .container ul li a .img span,
#video .container ul li a .img span,
#audio .container ul li a .img span {
    width: 60px;
    height: 20px;
    padding: 0 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0px 10px 10px 0px;
}

#reco .container ul li a .img i:last-child,
#video .container ul li a .img i:last-child,
#audio .container ul li a .img i:last-child {
    margin-right: 10px;
}

#reco .container ul li a .img i.active,
#video .container ul li a .img i.active,
#audio .container ul li a .img i.active {
    color: #f86eb3;
}

#reco .container ul li a .word,
#video .container ul li a .word,
#audio .container ul li a .word {
    width: 100%;
    padding: 10px;
    height: 122px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#reco .container ul li a .word h1,
#video .container ul li a .word h1,
#audio .container ul li a .word h1 {
    font-size: 16px;
    color: #2b262c;
}

#reco .container ul li a .word h6,
#video .container ul li a .word h6,
#audio .container ul li a .word h6 {
    font-size: 14px;
    color: #999;
    margin-top: 8px;
}

#reco .container ul li a .word p,
#video .container ul li a .word p,
#audio .container ul li a .word p {
    margin-top: 21px;
    font-size: 18px;
    color: #2b262c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

#reco .container ul li a .word p span,
#video .container ul li a .word p span,
#audio .container ul li a .word p span {
    font-size: 14px;
    color: #666;
}

#video .container,
#audio .container {
    position: relative;
}

#video .container .list-box,
#audio .container .list-box {
    width: 100%;
    height: 300px;
    margin-top: 30px;
}

#video .container ul,
#audio .container ul {
    margin-top: 0;
    position: absolute;
}


#nancy .column {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 20px;
}

#nancy .column .img {
    width: 280px;
    height: 270px;
}

#nancy .column .introduction {
    width: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

#nancy .column .introduction h1 {
    font-size: 20px;
    color: #3f5599;
    font-weight: 700;
}

#nancy .column .introduction h1 span {
    font-weight: 400;
}

#nancy .column .introduction h2 {
    font-size: 20px;
    color: #2B262C;
    height: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


#nancy .column .introduction p {
    font-size: 16px;
    color: #666;
    line-height: 24px;
}
#nancy .column .nancy {
    width: 580px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: static;
}

#nancy .column .nancy a {
    width: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-right: 20px;
    margin-top: 20px;
}
#nancy .column .nancy a:nth-child(3n) {
    margin-right: 0;
}

#nancy .column .nancy a .img {
    width: 100%;
    height: 100px;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    overflow: hidden;
}
#nancy .column .nancy a .img:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

#nancy .column .nancy a h1 {
    font-size: 14px;
    color: #2b262c;
}